<h2 class="package-name"><a href="{{uri}}">{{package}}</a></h2>
<ul class="menu">
  <h4>Test Details
    <a href="/debian/index_notify.html" target="_parent">
      <span class="notification" title="Notifications for this package are enabled. Every reproducibility related status change will be emailed to the maintainers">{{notify_maintainer}}</span>
    </a>
  </h4>
  {{#notes_uri}}
  <li><a href="{{notes_uri}}" title="Additional comments on this package" target="main">notes</a></li>
  {{/notes_uri}}
  {{^notes_uri}}
  {{^reproducible}}
  <li>No notes exist for this package. <a href="https://salsa.debian.org/reproducible-builds/reproducible-notes">Add some!</a></li>
  {{/reproducible}}
  {{#reproducible}}
  <li>Good work! This package looks reproducible in our current test framework :)</li>
  {{/reproducible}}
  {{/notes_uri}}
  <li>
    <a href="{{history_uri}}" target="main">Test history</a>
    <ul class="children"><li>
    Filter by:
    {{#history_archs}}
       <a href="{{history_arch_uri}}" target="main"><span class="filter-history">{{history_arch}}<span></a>
    {{/history_archs}}
    </li></ul>
  </li>
  <h4>Suite and Architecture</h4>
  {{{suitearch_section_html}}}
  <h4>General Package Details</h4>
  <li>
    <a href="https://tracker.debian.org/pkg/{{package}}" title="Go to: Debian Package Tracking Site">PTS</a>
    <a href="https://bugs.debian.org/src:{{package}}" title="Go to: Debian Bug Tracking Site">BTS</a>
  </li>
  <li>
    <a href="https://sources.debian.org/src/{{package}}/{{version}}/" title="Go to: the package source!">Package source</a>
    <ul class="children">
      <li>
        <div><a href="https://sources.debian.org/src/{{package}}/{{version}}/debian">debian/</a></div>
        <div><a href="https://sources.debian.org/src/{{package}}/{{version}}/debian/changelog">debian/changelog</a></div>
        <div><a href="https://sources.debian.org/src/{{package}}/{{version}}/debian/control">debian/control</a></div>
        <div><a href="https://sources.debian.org/src/{{package}}/{{version}}/debian/rules">debian/rules</a></div>
      </li>
    </ul>
  </li>
</ul>
<ul>
  <li><a href="{{dashboard_url}}">Debian dashboard</a></li>
  <li><a href="/debian/index_variations.html">Variations tested</a></li>
</ul>
{{{project_links_html}}}
